
body                      { font-family: 'SF Pro Display', sans-serif; background: #111A2C; color: white; margin: 0; min-height: 100vh; overflow-x: hidden; overflow-y: auto; display: flex; justify-content: center;}
.wrapper                  {max-width: 1140px; width: 100%;  padding: 0 1rem 1rem 1rem;}


@media (max-width: 768px) {
  .wrapper                {max-width: 390px; }
}

/* TITEL */
h1                  { font-size: 3rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; color: white; }
h2                  { font-size: 2.5rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; color: white; }
h3                  { font-size: 2rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; color: white; }
h4                  { font-size: 1.5rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; color: white; }
p                   { font-size: 1rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; color: white; }
label               {font-size: 0.875rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; text-transform: uppercase; color: white;}
.footnote           {font-size: 0.875rem; font-style: normal; font-weight: 700; line-height: normal; margin: 0; color: white;}


@media (max-width: 768px) {
  h1                  { font-size: 2rem; }
  h2                  { font-size: 1.75rem;  }
  h3                  { font-size: 1.5rem;  }
  h4                  { font-size: 1.25rem;  }
  .footnote           {font-size: 0.625rem;}
}

.titel            {margin-bottom: 1rem;}

/* FORM */
div {

  margin-bottom: 0;
}


input { padding: 0.75rem 1rem; border: 1px solid #ddd; border-radius: 1rem; background-color: white; font-size: 1rem; outline: none;color: black;transition: 0.2s;line-height: 1.5rem;  }

input:focus                               { border-color: #FFC619;}

button                                     { border-radius: 1rem; font-size: 1rem; border: 2px solid #E5B31E; background: #E5B31E; color: white; display: flex; padding: 1rem 1.5rem; justify-content: center; align-items: center; gap: 0.625rem; align-self: stretch; margin: 0; font-weight: 700;}
button:hover                                {cursor: pointer;}
/* TABEL */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background: 	#8c8c8c ;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  font-weight: 700;
}

thead {
background-color: #EEEEEE; color: #11468F;
}

thead th {
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 0.95rem;
}

tbody tr {
  transition: background 0.2s;
}

tbody td {
  padding: 0.9rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  border: solid 1px black;
}

tbody tr:hover {
  opacity: .8;
}


/* SCORE COLORS */
.red {
  background-color: #DA1212;
}

.blue {
  background-color: #041562;
}

.gray {
  background-color: grey;
}

/* LINK KNOP */

.content a:hover {
  background: #295b84;
}

/* EXTRA - responsive layout */
@media (max-width: 700px) {
  table {
    font-size: 0.9rem;
  }

  input {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  a {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }
}


#deleteMatchBtn                                     { flex: 1; background-color: transparent; border: none; justify-content: flex-end;}
#deleteMatchBtn .button-label                       {width: fit-content; border: 2px solid  #3A191A; background:  #3A191A; color:white; padding: 1rem 1.5rem; border:none; border-radius:0.5rem; cursor:pointer;}

.matchscreen.content                                {display: flex; margin-bottom: 2.5rem; justify-content: center; text-align: center; flex-direction: column; background-color: #19233A; padding: 1rem; border-radius: 1rem; overflow: hidden; gap: 1rem;}
.matchscreen.content .top-content                   {font-size: 1.5rem; color: #F9C11E; font-weight: 700; margin: 0;}
.matchscreen.content .bottom-content                {display: flex; flex-direction: row;  gap: 1rem; align-items: flex-start; justify-content: space-around;}
.matchscreen.content .bottom-content .player-container  {display: flex; flex-direction: column; gap: 1rem;}
.matchscreen.content .bottom-content .player-container .score  {color: #7584A3;}
.matchscreen.content .vs                            {font-size: 1rem; color: #868FA2; font-weight: 700;}
.matchscreen.content .bottom-content p               {font-size: 2.5rem;}




.currentHole-container                  {background-color: #19233A; margin-bottom: 2.5rem; border-radius: 1rem; overflow: hidden; display: flex; flex-direction: row;  padding: 1.25rem 1rem ; justify-content: space-between; align-items: center; border: 1px solid #FFC619; box-shadow: 0 0 4px 1px #FFC619;}  
.currentHole-container .currentHole     { color: #F9C11E;  text-align: center;} 
.currentHole-container p                {font-size: 1rem; color: #868FA2; font-weight: 700;} 


.header                                       {position: relative; display: flex; align-items: center; justify-content: center; gap: 2rem; margin-bottom: 2rem;}
.header .terug .icon                          { position: relative; width: 2.5rem; height: 2.5rem; padding: .5rem; box-sizing: border-box; margin-bottom: 0;  border-radius: 2rem; border: 1px solid rgba(255, 255, 255, 0.12); background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(255, 255, 255, 0.08); box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.10) inset; backdrop-filter: blur(6px);}
.header img                                   {width: 10rem;}
.header .terug .icon::after                   {content: ''; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url('./images/icon-chevron-left.svg'); background-repeat: no-repeat; background-position: center center; background-size: .875rem; width: .875rem; height: .875rem;}

.header h1                             {margin-bottom: 0; flex: 1;}
.header a                              { flex: 1;}                 

@media (max-width: 768px) {
  #deleteMatchBtn                               {display: none;}
  .header                                   { margin-bottom: 0; padding: 1.25rem 0; flex-direction: row-reverse;}
  .header .terug                           {flex: 1; display: flex; justify-content: flex-end; padding: 0;}
    .header .terug .icon::after                 {content: ''; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url('./images/close.svg'); background-repeat: no-repeat; background-position: center center; background-size: .875rem; width: .875rem; height: .875rem;}
  .matchscreen.content .bottom-content p        {font-size: 1rem;}
}


.modal                                            {display: none;}
.modal.open                                       {display: block; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: rgba(0, 0, 0, 0.6); margin-bottom: 0; display: flex; justify-content: center; align-items: center; gap: 1rem; z-index: 100; background: rgba(0, 0, 0, 0.20);backdrop-filter: blur(40px); padding: 0 1rem;}
.modal .modal-content                             { position: relative; color: white; margin-bottom: 0; display: flex; flex-direction: column; gap: 1.5rem; padding: 2.5rem; border-radius: 1rem; border-radius: 2rem; border: 1px solid rgba(255, 255, 255, 0.12); background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(255, 255, 255, 0.08); }
.modal .modal-content .fields                     {display: flex; flex-direction: column; gap: 1rem; justify-content: flex-start; align-items: flex-start;}
.modal .modal-content .tekst                      {text-align: start;}
.modal .modal-content .tekst p                     {font-weight: 400;}
.modal .modal-content label                       {color: white; font-size: 0.875rem; font-weight: 700; text-transform: uppercase; display: flex; flex-direction: column; gap: .5rem; width: 100%;}
.modal .modal-content div.closeModal                 {  position: absolute; right: 1rem; top: 1rem; width: 1.5rem; height: 1.5rem; background-image: url('./images/close.svg'); background-repeat: no-repeat; background-position: center center; background-size: 1.5rem;}
.modal .modal-content div.closeModal:hover           { cursor: pointer;}
.modal .modal-content .button-container               {display: flex; flex-direction: row; gap: 1rem; margin-top: .5rem;}
.modal .modal-content .button-container button        {flex: 1;}
.modal .modal-content .button-container .closeModal.ghost  {position: relative; background-color: transparent;}
.modal .modal-content .button-container .closeModal.ghost:hover  {background-color: #FFC619; }
#addMatchBtn                                      { color: white; }
#addMatchBtn:hover                                {background-color: #FFC619; color: white; box-shadow: 0 0 4px 1px #FFC619;}

@media (max-width: 768px) {
  .modal .modal-content                             {padding: 1.5rem 1rem; }
  .modal .modal-content .button-container           {flex-direction:column-reverse;}
}

.home.content                                     {position: relative; display: flex; flex-direction: row; align-items: center; padding: 1.25rem 0; justify-content: space-between; background-color: transparent;}
.home.content h1                                  {margin: 0; position: relative;}
.home.content .openModal                          {padding: 1rem 1.5rem; border-radius: 1rem; border: 2px solid  #19233A; background:  #19233A; font-weight: 700;}
.home.content .openModal:hover                    {cursor: pointer; background-color: #0B1020;}
.home.content .mobile                                           {display: none;}
.content.home img                                               {width: 15rem;}

@media (max-width: 768px) {
.home.content .mobile                                           {display: block;}
.content.home img                                               {width: 10rem;}
.home.content .desktop                                          {display: none;}
.home.content h1                                  {font-size: 1.5rem;}
.home.content .openModal                          { position: relative; width: 2.5rem; height: 2.5rem; padding: .5rem; box-sizing: border-box; margin-bottom: 0;  border-radius: 2rem; border: 1px solid rgba(255, 255, 255, 0.12); background: linear-gradient(180deg, rgba(255, 255, 255, 0.10) 0%, rgba(255, 255, 255, 0.02) 100%), rgba(255, 255, 255, 0.08); box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.25), 0 2px 6px 0 rgba(0, 0, 0, 0.10) inset; backdrop-filter: blur(6px);}
.home.content .openModal::after                   {content: ''; display: block; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url('./images/plus-icon-white.svg'); background-repeat: no-repeat; background-position: center center; background-size: .875rem; width: .875rem; height: .875rem;}


}


.score-form                             {background-color: #19233A; margin-bottom: 1.5rem; border-radius: 1rem; overflow: hidden; display: flex; flex-direction: column; gap: 1.5rem; padding: 1rem; position: relative;}
.info-container                         {text-align: center;}
.info-container h3                      {margin-bottom: .5rem;}
.info-container p                       {font-weight: 400;}
.score-form .info-container p          { color: #919AAD;}
.winner-buttons                         {display: flex; flex-direction: column; gap: 1rem; }
.winner-buttons button                  {width: 100%; background-color: transparent; border: solid 2px #2A3751; font-size: 1rem; color: white; font-weight: 700; padding: 1.5rem;}

.winner-buttons .currentScore             {display: none;}
.winner-buttons .currentScore.show         { display: none; background-color: rgba(255, 255, 255, 0.2); position: absolute;  padding: .5rem;  color: white; z-index: 100;  margin-bottom: 0; font-size: 4rem;}
.winner-buttons #player2Btn .currentScore  {left: 0; bottom: 0;}
.winner-buttons #player1Btn .currentScore  {right: 0; bottom: 0;}

.winner-buttons #player1Btn.currentWinner {background-color: #ffffff; border: 1px solid #FFFFFF; box-shadow: 0 0 4px 1px #FFFFFF; color: #19233A;}
.winner-buttons #drawBtn.currentWinner    {background-color: #232E43; border: 1px solid #232E43;}
.winner-buttons #player2Btn.currentWinner {background-color: #EEE8A9; border: 1px solid #EEE8A9; box-shadow: 0 0 4px 1px #EEE8A9; color: #19233A;}

.score-form .toast                     {position: absolute; display: flex; justify-content: center; align-items: flex-end;  bottom: 0; left: 0;  right: 0; top: 0;  background: #2E4052; color: #fff; padding: 2rem; border-radius: 0.5rem; opacity: 0; pointer-events: none; transition: opacity 0.3s ease; z-index: 9999; background-image: url('./images/check.gif'); background-repeat: no-repeat; background-position: center center; background-size: 10rem;}

.score-form .toast.show {
  opacity: 1;
  pointer-events: auto;
}

.score-form .hole-select                               {display: none; position: absolute; top: 2.5rem; left: 50%; transform: translateX(-50%); z-index: 100;}

#holeDropdown {display: none;  -webkit-appearance: none; -moz-appearance: none; appearance: none;  padding: .5rem 1rem; border-radius: 0.5rem; background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px) saturate(180%); -webkit-backdrop-filter: blur(10px) saturate(180%); border: 1px solid rgba(255, 255, 255, 0.3); font-size: 4rem; font-weight: 700; color: white; cursor: pointer; }

/* Optioneel: pijltje zelf maken */
#holeDropdown {
  background-image: url('./images/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem auto;
  padding-right: 2rem;
}

.mobile-button          {display: none;}

.modal.scorecard {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  z-index: 5000;
}

.modal.scorecard.open {
  display: flex;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 2rem 5rem ;
  max-width: 400px;
  width: 100%;
  text-align: start;
}
.modal-content h2 {margin: 0; font-size: 3rem; margin-bottom: 2rem;}

#scoreCardTable {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 0 0;
}

#scoreCardTable .hole {background-color: #1c3d5a;}

#scoreCardTable th,
#scoreCardTable td {
  padding: .5rem;
  border-bottom: 1px solid #ddd;
  font-size: 3rem;
  border: unset;
}

#scoreCardTable th {font-size: 2rem;}

#closeScoreCard   {  position: absolute; right: 1rem; top: 1rem; width: 4rem; height: 4rem; background-image: url('./images/close.svg'); background-repeat: no-repeat; background-position: center center; background-size: 3.5rem;}
#closeScoreCard:hover    { cursor: pointer;}
  #scoreCard.mobile     {display: none;}

@media (max-width: 1000px) {
    /* body                        {padding: 2rem; } */

}




#matchesBody                            {display: flex; flex-direction: column; gap: 1.5rem;}
.kaart                                  {background-color: #19233A; border: 2px solid #2A3751; border-radius: 1rem; overflow: hidden;}
.kaart *                                {color: white;}
.kaart .kaart-top                       {display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 1rem 2rem; box-sizing: border-box; border-bottom: 1px solid  #2A3751; position: relative; background: linear-gradient(90deg,  #0B1020 0%,  #111A2C 100%);}
.kaart .kaart-top p                     {margin: 0; color: #949DB0; font-size: 1.5rem; font-weight: 700; }
.kaart .kaart-top .match-name            {padding-left: 3rem;}
.kaart .kaart-top::before               {content: ''; background-image: url('./images/trophy.svg'); background-repeat: no-repeat; width: 2rem; height: 2rem; background-size: 2rem; position: absolute; left: 2rem; }
.kaart .kaart-top .hole                 {padding: .75rem 1rem; border: 1px solid #FFC619; background-color: #30343B; border-radius: 2rem;}
.kaart .kaart-top .hole.finished        {background-color: #FFC619;} 
.kaart .kaart-top .hole.finished p       {color: #1B2B4A;} 
.kaart .kaart-top .hole p                {color: #FFC619; font-size: 1rem;}

.kaart .kaart-bottom                    {display: flex; flex-direction: row; padding: 1.5rem 2rem; box-sizing: border-box;}
.kaart .kaart-bottom .naam              {display: flex; flex-direction: row; box-sizing: border-box; padding: 1.5rem; border-radius: 1rem; overflow: hidden; flex: 1; border: 2px solid #2C3953; justify-content: space-between;}
.kaart .kaart-bottom .naam h2           {margin: 0;}
.kaart .kaart-bottom .naam.gold         {border: 2px solid #FFC619; background-color: #30343B;}
.kaart .kaart-bottom .naam .score       { color: #949DB0;}
.kaart .kaart-bottom .naam.gold .score  {color: #FFC619; text-transform: uppercase;}
.kaart .kaart-bottom .vs                {width: 5rem; display: flex; justify-content: center; align-items: center; color: #868FA2; font-size: 1.5rem; font-weight: 700;}

@media (max-width: 768px) {
  .kaart .kaart-top                     {padding: 1.5rem 1rem; flex-wrap: wrap; gap: 1rem;}
  .kaart .kaart-top::before             {display: none;}
  .kaart .kaart-bottom                  {flex-direction: column; gap: 1rem; padding: 1rem .75rem;}
  .kaart .kaart-top .match-name          {padding-left: 0;}
  .kaart .kaart-bottom .vs                 {position: relative; width: 100%;}
  .kaart .kaart-bottom .vs::before          {content: '';position: absolute; left: 0; top: 50%; height: 1px; width: 35%; background-color: #2A3751;}
  .kaart .kaart-bottom .vs::after          {content: '';position: absolute; right: 0; top: 50%; height: 1px; width: 35%; background-color: #2A3751;}
}

.container                              {padding: 1rem 0;}
.scorecard                              { display: flex; flex-direction: column; gap: 1rem; margin-bottom: 1rem;}
.scorecard p                              {font-weight: 700; border-radius: 0.5rem; border: 1px solid #2B3852; padding: 0.5rem; position: relative; text-align: center;}
.scorecard p::after                      { content: ""; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%) rotate(0deg); width: 1rem; height: 1rem; background-image: url('./images/chevron-down.svg'); background-repeat: no-repeat; background-size: contain; transition: transform 0.3s ease;}
.scorecard.open p::after                 { transform: translateY(-50%) rotate(180deg);}

.kaart-container                                              { background-color: #19233A; border-radius: .5rem; display: flex; flex-direction: column-reverse;}
.kaart-container .holeskaart                                   {display: none; opacity: 0; transition: all .3s ease; grid-template-columns: repeat(18,1fr);  gap: .5rem;  padding:1rem 2rem 2rem  2rem;}
.kaart-container.open .holeskaart                            {display: grid; opacity: 1;}
.kaart-container .holeskaart .hole                              {aspect-ratio: 1 / 1; font-size: 1rem; font-weight: 700; display: flex; justify-content: center; align-items: center; border-radius: 0.5rem; border: 1px solid #2A3751;}
.kaart-container .holeskaart .hole.speler-1                    {border: 1px solid #FFF; box-shadow: 0 0 4px 0 #FFF; background-color: #fff; color: #19233A;}
.kaart-container .holeskaart .hole.speler-2                    {border: 1px solid #EEE8A9; box-shadow: 0 0 4px 0 #EEE8A9; background-color: #EEE8A9;  color: #19233A;}
.kaart-container .holeskaart .hole.gelijk                      {border: 1px solid #2A3751; background-color: #232E43;}

.kaart-container .index                                         {display: none; flex-direction: row;  gap: 2rem; flex-wrap: wrap; padding:  2rem 2rem 1rem 2rem;}
.kaart-container.open .index                                     {display: flex;}
.kaart-container  .index p                                      {display: flex; flex-direction: row; gap: .5rem; align-items: center;}
.kaart-container .index p::before                               {content: ''; display: block; width: .875rem; height: .875rem; border-radius: .25rem;}
.kaart-container .index .p-one::before                          {border: 1px solid #FFF; box-shadow: 0 0 4px 0 #FFF; background-color: #fff; }
.kaart-container .index .p-two::before                          {border: 1px solid #EEE8A9; box-shadow: 0 0 4px 0 #EEE8A9; background-color: #EEE8A9; }
.kaart-container .index .draw::before                          {border: 1px solid #2A3751; background-color: #232E43;}



@media (max-width: 768px) {
  .kaart-container                                                {flex-direction: column;}
  .kaart-container .index                                         { gap: 1rem; border-top: 1px solid #2A3751; padding: 1rem 0; margin: 0 1rem;}
  .kaart-container .holeskaart                                    {grid-template-columns: repeat(6,1fr);  padding: 1rem; }
  .holeskaart .hole                                               {font-size: 0.625rem; }
}
