body {
  font-family: "Inter", sans-serif;
  background: #111A2C;
  color: white;
  margin: 0;
  padding: 2rem;
  height: 100vh;
}

@media (max-width: 768px) {
  body                    {padding: 2rem 1rem !important;}
}

/* TITEL */
h1 {
  text-align: center;
  font-weight: 700;
  color: white;
  margin-bottom: 2.5rem;
  letter-spacing: 0.5px;
}

/* FORM */
div {
  text-align: center;
  margin-bottom: 0;
}

label {
  font-weight: 500;
  color: white;
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 1rem;
  outline: none;
  color: white;
  transition: 0.2s;
}

input:focus {
  border-color: #FFC619;
}

button {
  background: #FFC619;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #295b84;
}

/* TABEL */
table {
  width: 100%;
  margin: 0 auto;
  border-collapse: collapse;
  background: 	#8c8c8c ;
  border-radius: 12px;
  overflow: hidden;
  color: white;
  font-weight: 700;
}

thead {
background-color: #EEEEEE; color: #11468F;
}

thead th {
  padding: 1rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 0.95rem;
}

tbody tr {
  transition: background 0.2s;
}



.currentHole    {background-color: #EEEEEE; color: #11468F; width: 3rem;}
tbody td {
  padding: 0.9rem 1rem;
  text-align: center;
  font-size: 1.5rem;
  border: solid 1px black;
}

tbody tr:hover {
  opacity: .8;
}


/* SCORE COLORS */
.red {
  background-color: #DA1212;
}

.blue {
  background-color: #041562;
}

.gray {
  background-color: grey;
}

/* LINK KNOP */
a {
  text-decoration: none;
  color: white;
  background: #1c3d5a;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.2s;
}

.content a:hover {
  background: #295b84;
}

/* EXTRA - responsive layout */
@media (max-width: 700px) {
  table {
    font-size: 0.9rem;
  }

  input, button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  a {
    font-size: 0.85rem;
    padding: 0.4rem 0.8rem;
  }
}


#deleteMatchBtn     { flex: 1; background:red; color:white; padding:0.75rem 1rem; border:none; border-radius:0.5rem; cursor:pointer;}

.content                                {display: flex; margin-bottom: 1.5rem; justify-content: center; text-align: center; flex-direction: column; background-color: #19233A; padding: 1rem; border-radius: 1rem; overflow: hidden; gap: 1rem;}
.content .top-content                   {font-size: 1.5rem; color: #F9C11E; font-weight: 700; margin: 0;}
.content .bottom-content                {display: flex; flex-direction: row; justify-content: center; gap: 1rem;}
.content .vs                            {font-size: 1rem; color: #868FA2; font-weight: 700;}
.content .bottom-content p              {font-size: 1rem; font-weight: 700; color: #EFEBDA; margin: 0;}

.currentHole-container                  {background-color: #19233A; margin-bottom: 1.5rem; border-radius: 1rem; overflow: hidden; display: flex; flex-direction: row;  padding: 1rem; justify-content: space-between; align-items: center; border: 1px solid #FFC619; box-shadow: 0 0 4px 1px #FFC619;}  
.currentHole-container .currentHole     {background-color: unset; color: #F9C11E; font-size: 2rem; margin-top: .5rem; font-weight: 700; width: unset;} 
.currentHole-container p                {font-size: 1rem; color: #868FA2; font-weight: 700;} 


.desktop                                {display: flex; align-items: center; justify-content: center; gap: 2rem; margin-bottom: 2rem;}
.desktop h1                             {margin-bottom: 0; flex: 1;}
.desktop a                              {padding: .75rem 1rem; flex: 1;}                 

@media (max-width: 768px) {
.desktop    {display: none;}

}


.modal              {display: none;}
.modal.open                {display: block; position: absolute; left: 0; right: 0; bottom: 0; top: 0; background-color: rgba(0, 0, 0, 0.6); margin-bottom: 0; display: flex; justify-content: center; align-items: center; gap: 1rem; z-index: 100;}
.modal .modal-content    { position: relative;   background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px) saturate(180%); -webkit-backdrop-filter: blur(10px) saturate(180%); border: 1px solid rgba(255, 255, 255, 0.3); color: white; margin-bottom: 0; display: flex; flex-direction: column; gap: 1rem; padding: 5rem; border-radius: 1rem; }
.modal .modal-content label {color: white; display: flex; flex-direction: column; gap: 1rem; font-size: 1.2rem; font-weight: 700;}
.modal .modal-content .closeModal    {  position: absolute; right: 1rem; top: 1rem; width: 1.5rem; height: 1.5rem; background-image: url('./images/close.svg'); background-repeat: no-repeat; background-position: center center; background-size: 1.5rem;}
.modal .modal-content .closeModal:hover    { cursor: pointer;}
#addMatchBtn                                {margin-top: 2.5rem;  background-color:#30343B; border: 1px solid #FFC619; color: #FFC619;}
#addMatchBtn:hover                                {background-color: #FFC619; color: white; box-shadow: 0 0 4px 1px #FFC619;}

.home.content                       {position: relative; display: flex; justify-content: center; flex-direction: row; align-items: center; padding: 2.5rem 0;}
.home.content h1                    {margin: 0; position: relative;}
.home.content .openModal           { width: 1.5rem; height: 1.5rem; margin-bottom: 0; margin-left: 1rem; background-image: url('./images/plus-icon-white.svg'); background-repeat: no-repeat; background-position: center center; background-size: 1.75rem;}
.home.content .openModal:hover           {cursor: pointer;}

@media (max-width: 768px) {
.home.content                       {flex-direction: column;}
.home.content h1                    {font-size: 1.5rem;}
}


.score-form                             {background-color: #19233A; margin-bottom: 1.5rem; border-radius: 1rem; overflow: hidden; display: flex; flex-direction: column; gap: 1rem; padding: 1.5rem 1rem; position: relative;}
.score-form .info-container h2          {font-size: 1rem; font-weight: 700; color: #EFEBDA; margin-bottom: 1rem;}
.score-form .info-container p          {font-size: .75rem; color: #919AAD; margin: 0;}
.winner-buttons                         {display: flex; flex-direction: column; gap: 1rem; }
.winner-buttons button                  {width: 100%; background-color: transparent; border: solid 2px #2A3751; font-size: 1rem; color: #EFEBDA; font-weight: 700; padding: 1.5rem;}

.winner-buttons .currentScore             {display: none;}
.winner-buttons .currentScore.show         { display: none; background-color: rgba(255, 255, 255, 0.2); position: absolute;  padding: .5rem;  color: white; z-index: 100;  margin-bottom: 0; font-size: 4rem;}
.winner-buttons #player2Btn .currentScore  {left: 0; bottom: 0;}
.winner-buttons #player1Btn .currentScore  {right: 0; bottom: 0;}

.winner-buttons #player1Btn.currentWinner { border: 1px solid #FFFFFF; box-shadow: 0 0 4px 1px #FFFFFF;}
.winner-buttons #drawBtn.currentWinner    { border: 1px solid #FFC619; box-shadow: 0 0 4px 1px #FFC619; }
.winner-buttons #player2Btn.currentWinner { border: 1px solid #EEE8A9; box-shadow: 0 0 4px 1px #EEE8A9;}

.score-form .toast                     {position: absolute; display: flex; justify-content: center; align-items: flex-end;  bottom: 0; left: 0;  right: 0; top: 0;  background: #2E4052; color: #fff; padding: 2rem; border-radius: 0.5rem; opacity: 0; pointer-events: none; transition: opacity 0.3s ease; z-index: 9999; background-image: url('./images/check.gif'); background-repeat: no-repeat; background-position: center center; background-size: 10rem;}

.score-form .toast.show {
  opacity: 1;
  pointer-events: auto;
}

.score-form .hole-select                               {display: none; position: absolute; top: 2.5rem; left: 50%; transform: translateX(-50%); z-index: 100;}

#holeDropdown {display: none;  -webkit-appearance: none; -moz-appearance: none; appearance: none;  padding: .5rem 1rem; border-radius: 0.5rem; background-color: rgba(255, 255, 255, 0.2); backdrop-filter: blur(10px) saturate(180%); -webkit-backdrop-filter: blur(10px) saturate(180%); border: 1px solid rgba(255, 255, 255, 0.3); font-size: 4rem; font-weight: 700; color: white; cursor: pointer; }

/* Optioneel: pijltje zelf maken */
#holeDropdown {
  background-image: url('./images/chevron-down.svg');
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-size: 1.5rem auto;
  padding-right: 2rem;
}

.mobile-button          {display: none;}

.modal.scorecard {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.6);
  z-index: 5000;
}

.modal.scorecard.open {
  display: flex;
}

.modal-content {
  background: white;
  border-radius: 12px;
  padding: 2rem 5rem!important;
  max-width: 400px;
  width: 100%;
  text-align: start;
    gap: 1rem !important;
}
.modal-content h2 {margin: 0; font-size: 3rem; margin-bottom: 2rem;}

#scoreCardTable {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0 0 0;
}

#scoreCardTable .hole {background-color: #1c3d5a;}

#scoreCardTable th,
#scoreCardTable td {
  padding: .5rem;
  border-bottom: 1px solid #ddd;
  font-size: 3rem;
  border: unset;
}

#scoreCardTable th {font-size: 2rem;}

#closeScoreCard   {  position: absolute; right: 1rem; top: 1rem; width: 4rem; height: 4rem; background-image: url('./images/close.svg'); background-repeat: no-repeat; background-position: center center; background-size: 3.5rem;}
#closeScoreCard:hover    { cursor: pointer;}
  #scoreCard.mobile     {display: none;}
.button-continer        {display: flex; justify-content: center;}

@media (max-width: 1000px) {
    body                        {padding: 2rem; }

}




#matchesBody                            {display: flex; flex-direction: column; gap: 1.5rem;}
.kaart                                  {background-color: #19233A; border: 2px solid #2A3751; border-radius: 1rem; overflow: hidden;}
.kaart *                                {color: #EFEBDA;}
.kaart .kaart-top                       {display: flex; flex-direction: row; justify-content: space-between; align-items: center; padding: 1rem 2rem; box-sizing: border-box; background: linear-gradient(90deg, #11203C 0%, #1B2B4A 100%); border-bottom: 1px solid #2C3953; position: relative;}
.kaart .kaart-top p                     {margin: 0; color: #949DB0; font-size: 1.5rem; font-weight: 700; }
.kaart .kaart-top .match-name            {padding-left: 3rem;}
.kaart .kaart-top::before               {content: ''; background-image: url('./images/trophy.svg'); background-repeat: no-repeat; width: 2rem; height: 2rem; background-size: 2rem; position: absolute; left: 2rem; }
.kaart .kaart-top .hole                 {padding: .75rem 1rem; border: 1px solid #FFC619; background-color: #30343B; border-radius: 2rem;}
.kaart .kaart-top .hole.finished        {background-color: #FFC619;} 
.kaart .kaart-top .hole.finished p       {color: #1B2B4A;} 
.kaart .kaart-top .hole p                {color: #FFC619; font-size: 1rem;}

.kaart .kaart-bottom                    {display: flex; flex-direction: row; padding: 1.5rem 2rem; box-sizing: border-box;}
.kaart .kaart-bottom .naam              {display: flex; flex-direction: row; box-sizing: border-box; padding: 1.5rem; border-radius: 1rem; overflow: hidden; flex: 1; border: 2px solid #2C3953; justify-content: space-between;}
.kaart .kaart-bottom .naam h2           {margin: 0;}
.kaart .kaart-bottom .naam.gold         {border: 2px solid #FFC619; background-color: #30343B;}
.kaart .kaart-bottom .naam .score       { color: #949DB0;}
.kaart .kaart-bottom .naam.gold .score  {color: #FFC619; text-transform: uppercase;}
.kaart .kaart-bottom .vs                {width: 5rem; display: flex; justify-content: center; align-items: center; color: #868FA2; font-size: 1.5rem; font-weight: 700;}

@media (max-width: 768px) {
  .kaart .kaart-top                     {padding: 1rem;}
  .kaart .kaart-bottom                  {flex-direction: column; gap: 1rem; padding: 1rem .75rem;}
  .kaart .kaart-bottom .naam h2           {font-size: 1.2rem;}
}

.scorecard                              { display: flex; flex-direction: column; gap: 1rem; margin-bottom: 1rem;}
.scorecard h2                              {font-weight: 700; border-radius: 0.5rem; border: 1px solid #2B3852; padding: 0.5rem; position: relative;}
.scorecard h2::after                      { content: ""; position: absolute; right: 1rem; top: 50%; transform: translateY(-50%) rotate(0deg); width: 1rem; height: 1rem; background-image: url('./images/chevron-down.svg'); background-repeat: no-repeat; background-size: contain; transition: transform 0.3s ease;}
.scorecard.open h2::after                 { transform: translateY(-50%) rotate(180deg);}

.holeskaart                                    {display: none; opacity: 0; transition: all .3s ease; grid-template-columns: repeat(9,1fr);  gap: .5rem; padding: 1rem; background-color: #19233A; border-radius: .5rem;}
.holeskaart.open                               {display: grid; opacity: 1;}
.holeskaart .hole                              {aspect-ratio: 1 / 1; font-size: 1rem; font-weight: 700; display: flex; justify-content: center; align-items: center; border-radius: 0.5rem; border: 1px solid #2A3751;}
.holeskaart .hole.speler-1                    {border: 1px solid #FFF; box-shadow: 0 0 4px 0 #FFF;}
.holeskaart .hole.speler-2                    {border: 1px solid #2A3751;border: 1px solid #EEE8A9; box-shadow: 0 0 4px 0 #EEE8A9;}
.holeskaart .hole.gelijk                      {border: 1px solid #2A3751; background-color: #232E43;}

@media (max-width: 768px) {
  .holeskaart                                    {grid-template-columns: repeat(6,1fr); }
  .holeskaart .hole                              {font-size: 0.625rem; }
}
